{% extends "base.html" %}
{% block title %}Board | GUDLFT Registration{% endblock %}
{% block content %}


{% with messages = get_flashed_messages()%}
{% if messages %}
    <ul>
   {% for message in messages %}
        <li>{{message}}</li>
    {% endfor %}
   </ul>
{% endif%}

<h3>Clubs Registered :</h3>
<ul>
    {% for club in clubs%}
    <li>
        {{club['name']}} Points: {{club['points']}}</br>
    </li>
    <hr />
    {% endfor %}
</ul>
{%endwith%}
<a href="{{url_for('index')}}">Return to login page</a>
{% endblock content %}